header {
  padding: 5px;
  text-align: left;
  background: #d9a1c3;
  color: white;
  font-size: 18px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  display: inline;
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 3px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #554d76;
  color: #d9a1c3;
}

.active {
color: #9560aa;
}

* {
    text-align: center;
    font-family: 'Century Gothic';
    letter-spacing: 0.2px;
}

h1 {
font-family: 'Arial Black';
font-size: 30px;
color: #000000;
font-weight: 600;
 }
h2 { 
font-size: 20px;
color: #000000;
 }
p {
font-size: 18px;
color: #000000;
text-align: inherit;
width: 300;
 }
 p img{
    float:right; width: 1200px;
 }
html {
  background-color: #ffffff; 
}